#menu {
    width: 500px;
    margin: 0 auto
}
#menu>ul>li {
    float: left
}
#menu>ul>li a {
    display: block;
    width: 100px;
    height: 50px;
    background: green;
    text-align: center;
    line-height: 50px
}
#menu>ul>li>ul {
    display: none
}
#menu>ul>li>ul>li {
    position: relative
}
#menu>ul>li>ul>li>a {
    background: red
}
#menu>ul>li>ul>li>ul {
    position: absolute;
    left: 100px;
    top: 0;
    display: none
}
#menu>ul>li>ul>li>ul a {
    background: #ff0
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}