.munu11 ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.menu11 a{
	display: block;
	padding: 2em;
	background-color: #174BD6;
	text-emphasis: none;
	color:#174BD6;
}
.menu11 a:hover {
	background-color: #174BD6;
}
.menu11 ul li ul {
	display: none;
}
.menu11 ul li a:hover + ul, .menu11 ul li ul:hover{
	display: block;
}